.about-us{
    transform: translateY(-220px);
    padding: 170px 30px;
    background-color: white;
    position: relative;
}

.about-us img {
    position: absolute;
    margin-left: 50%;
}

.about-us .line-1 {
    position: absolute;
    width: 20px;
    margin-left: 48.5%;
    margin-top: 1.45%;
    border-top: 0.75px solid #bda50b;
}

.about-us .line-2 {
    position: absolute;
    width: 20px;
    margin-left: 52%;
    margin-top: 1.45%;
    border-top: 0.75px solid #bda50b;
}

.about-us .text-1 {
    position: absolute;
    margin-top: 30px;
    margin-left: 47%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #5a5f68;
    letter-spacing: 0.7pt;
}

.about-us .text-2 {
    position: absolute;
    margin-top: 52px;
    margin-left: 43%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #304771;
    letter-spacing: 1pt;
}

.about-us .intro-info {
    position: absolute;
    width: 60%;
}

.about-us .intro-1 {
    position: absolute;
    margin-top: 130px;
    margin-left: 19%;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #777c84;
}

.about-us .intro-2 {
    position: absolute;
    margin-top: 165px;
    margin-left: 19%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #7a7a7a;
}

.about-us .intro-3 {
    position: absolute;
    margin-top: 215px;
    margin-left: 19%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #7a7a7a;
}

.about-us .lawyer{
    width: 700px;
    height: 677px;
    position: absolute;
    z-index: -1;
}