.footer {
    transform: translateY(-242.4%);
    position: relative;
    height: 1000px;
    background-color: #0a152a;
}

.footer .icon-shield{
    position: absolute;
    top: 7%;
    left: 50%;
}

.footer .slogan-end{
    position: absolute;
    top: 16%;
    left: 28.4%;
    font-size: 10pt;
    line-height: 16pt;
    width: 49%;
    color: #a7aeba;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
}

.footer .social-icon-footer{
    position: absolute;
    top: 23%;
    left: 46%;
}

.footer .line-shape{
    position: absolute;
    top: 30%;
    left: -20%;
}

.footer .line-1{
    position: absolute;
    top: 35%;
    left: 13%;
}

.footer .line-2{
    position: absolute;
    top: 35.4%;
    left: 13%;
}

.footer .contact-text{
    position: absolute;
    top: 36.5%;
    left: 13%;
    text-transform: uppercase;
    font-size: 13.5pt;
    color: #d5d8df;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.footer .icon-contact{
    position: absolute;
    top: 43%;
    left: 13%;
}

.footer .location{
    position: absolute;
    top: 42.7%;
    left: 15%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 10.5pt;
}

.footer .phone-number-1{
    position: absolute;
    top: 45.7%;
    left: 15%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12pt;
}

.footer .phone-number-2{
    position: absolute;
    top: 48.7%;
    left: 15%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12pt;
}

.footer .mail-contact{
    position: absolute;
    top: 52%;
    left: 15%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10.5pt;
}

.footer .line-3{
    position: absolute;
    top: 35%;
    left: 37%;
}

.footer .line-4{
    position: absolute;
    top: 35.4%;
    left: 37%;
}

.footer .open-time-text{
    position: absolute;
    top: 36.5%;
    left: 37%;
    text-transform: uppercase;
    font-size: 13.5pt;
    color: #d5d8df;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.footer .opening-day{
    position: absolute;
    top: 42.7%;
    left: 37%;
    color: #d5d8df;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 10.5pt;
}

.footer .T2-T6{
    position: absolute;
    top: 45.7%;
    left: 37%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.footer .T7{
    position: absolute;
    top: 48.7%;
    left: 37%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.footer .vacation{
    position: absolute;
    top: 52%;
    left: 37%;
    color: #d5d8df;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12pt;
}

.footer .all-sunday{
    position: absolute;
    top: 54.7%;
    left: 37%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12pt;
}

.footer .all-vacation{
    position: absolute;
    top: 58%;
    left: 37%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12pt;
}

.footer .line-5{
    position: absolute;
    top: 35%;
    left: 57%;
}

.footer .line-6{
    position: absolute;
    top: 35.4%;
    left: 57%;
}

.footer .PA-text{
    position: absolute;
    top: 36.5%;
    left: 57%;
    text-transform: uppercase;
    font-size: 13.5pt;
    color: #d5d8df;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.footer .arr-icon{
    position: absolute;
    top: 43%;
    left: 57%;
}

.footer .PA-text-1{
    position: absolute;
    top: 42.5%;
    left: 58.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .PA-text-2{
    position: absolute;
    top: 45.5%;
    left: 58.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .PA-text-3{
    position: absolute;
    top: 48.5%;
    left: 58.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .PA-text-4{
    position: absolute;
    top: 51.5%;
    left: 58.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .PA-text-5{
    position: absolute;
    top: 54.5%;
    left: 58.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .PA-text-6{
    position: absolute;
    top: 57.5%;
    left: 58.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .line-7{
    position: absolute;
    top: 35%;
    left: 77%;
}

.footer .line-8{
    position: absolute;
    top: 35.4%;
    left: 77%;
}

.footer .OA-text{
    position: absolute;
    top: 36.5%;
    left: 77%;
    text-transform: uppercase;
    font-size: 13.5pt;
    color: #d5d8df;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.footer .arr-icon-2{
    position: absolute;
    top: 43%;
    left: 77%;
}

.footer .OA-text-1{
    position: absolute;
    top: 42.5%;
    left: 78.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .OA-text-2{
    position: absolute;
    top: 45.5%;
    left: 78.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .OA-text-3{
    position: absolute;
    top: 48.5%;
    left: 78.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .OA-text-4{
    position: absolute;
    top: 51.5%;
    left: 78.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .OA-text-5{
    position: absolute;
    top: 54.5%;
    left: 78.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .OA-text-6{
    position: absolute;
    top: 57.5%;
    left: 78.5%;
    color: #979ca5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    text-transform: capitalize;
}

.footer .bar{
    position: absolute;
    top: 66%;
}

.footer .brand{
    position: absolute;
    top: 68.5%;
    left: 50%;
    font-size: 8pt;
    color: #454b57;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

