.practice-areas {
    transform: translateY(-150px);
    padding: 170px 30px;
    background-color: white;
    position: relative;
    margin-bottom: 35%;
}


.practice-areas .img-1{
    position: absolute;
    margin-left: -15%;
    width: 25%;
    top: 0%;
}

.practice-areas .img-2{
    position: absolute;
    margin-left: 4%;
    width: 25%;
    top: 0%;
}

.practice-areas .img-3{
    position: absolute;
    margin-left: 73%;
    width: 25%;
    top: 0%;
}

.practice-areas .img-4{
    position: absolute;
    margin-left: 73%;
    width: 25%;
    top: 0%;
}

.practice-areas .scale {
    position: absolute;
    margin-left: 48.3%;
    left: 16px;
    bottom: 0%;
}

.practice-areas .line-1 {
    position: absolute;
    width: 27px;
    margin-left: 45.5%;
    margin-top: 11.1%;
    border-top: 0.75px solid #bda50b;
}

.practice-areas .line-2 {
    position: absolute;
    width: 27px;
    margin-left: 49.28%;
    margin-top: 11.1%;
    border-top: 0.75px solid #bda50b;
}

.practice-areas .text-1 {
    position: absolute;
    margin-top: 11.5%;
    margin-left: 44.3%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #5a5f68;
    letter-spacing: 2pt;
}

.practice-areas .text-2 {
    position: absolute;
    margin-top: 13%;
    margin-left: 37.2%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #304771;
    letter-spacing: 2pt;
}

.practice-areas .box-info{
    position: absolute;
    margin-left: 5%;
    border: 1px solid #304771;
    background-color: #304771;
    width: 365px;
    height: 208px;
    top: 135%;
    left: 33.1%;
}

.practice-areas .box-info .id-card-icon{
    position: absolute;
    left: 166px;
    top: 31px;
}

.practice-areas .box-info .box-info-text-1 {
    position: absolute;
    color: #fefefe;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 20px;
    top: 95px;
    left: 71px;
}

.practice-areas .box-info .box-info-text-2 {
    position: absolute;
    color: #cdd2dd;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    top: 120px;
    left: -40px;
    right: -15px;
    font-size: 13px;
    margin: 0 50px 0 86px;
    text-align: center;  
    line-height: 16pt; 
    word-spacing: 1px;
}

.practice-areas .box-info .btn-read-more{
    position: absolute;
    top: 175px;
    left: 155px;
    color: #c8ac49;
    cursor: pointer;
    text-transform: capitalize;
    background: none;
    border: none;
}

.practice-areas .field-1{
    position: absolute;
    margin-left: 5%;
    width: 365px;
    height: 220px;
    top: 48%;
    left: 14%;
}

.practice-areas .number-1{
    position: absolute;
    top: 133%;
    left: 20%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20pt;
    color: #e9e9e9;
    text-align: center;
}

.practice-areas .fields .fissure-1{
    position: absolute;
    left: 24%;
    top: 150%;
}

.practice-areas .fields .task{
    position: absolute;
    left: 17%;
    top: 168%;
}

.practice-areas .fields .des-1{
    position: absolute;
    left: -10%;
    top: 200%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 14pt;
    text-transform: capitalize;
    color: #3b424d;
}

.practice-areas .field-1 .des-2{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    top: 215%;
    left: -57%;
    right: -3%;
    font-size: 13px;
    margin: 0 103px 0 111px;
    text-align: center;  
    color: #747981;
} 

.practice-areas .field-2{
    position: absolute;
    margin-left: 5%;
    width: 365px;
    height: 220px;
    top: 48%;
    left: 65%;
}

.practice-areas .number-3{
    position: absolute;
    top: 133%;
    left: 20%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20pt;
    color: #e9e9e9;
    text-align: center;
}

.practice-areas .fields .fissure-2{
    position: absolute;
    left: 24.1%;
    top: 150%;
}

.practice-areas .fields .lifeboy{
    position: absolute;
    left: 17%;
    top: 168%;
}

.practice-areas .fields .des-3{
    position: absolute;
    left: -14%;
    top: 200%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 14pt;
    text-transform: capitalize;
    color: #3b424d;
}

.practice-areas .field-2 .des-4{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    top: 215%;
    left: -57%;
    right: -3%;
    font-size: 13px;
    margin: 0 103px 0 111px;
    text-align: center;  
    color: #747981;
} 

.practice-areas .field-3{
    position: absolute;
    margin-left: 5%;
    width: 365px;
    height: 220px;
    top: 125%;
    left: 14%;
}

.practice-areas .number-4{
    position: absolute;
    top: 133%;
    left: 20%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20pt;
    color: #e9e9e9;
    text-align: center;
}

.practice-areas .fields .fissure-3{
    position: absolute;
    left: 24%;
    top: 150%;
}

.practice-areas .fields .dollar-coin{
    position: absolute;
    left: 18.5%;
    top: 168%;
}

.practice-areas .fields .des-5{
    position: absolute;
    left: -17%;
    top: 200%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 14pt;
    text-transform: capitalize;
    color: #3b424d;
}

.practice-areas .field-3 .des-6{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    top: 215%;
    left: -57%;
    right: -3%;
    font-size: 13px;
    margin: 0 103px 0 111px;
    text-align: center;  
    color: #747981;
} 

.practice-areas .field-4{
    position: absolute;
    margin-left: 5%;
    width: 365px;
    height: 220px;
    top: 125%;
    left: 40.5%;
}

.practice-areas .number-5{
    position: absolute;
    top: 133%;
    left: 20%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20pt;
    color: #e9e9e9;
    text-align: center;
}

.practice-areas .fields .fissure-4{
    position: absolute;
    left: 24.2%;
    top: 150%;
}

.practice-areas .fields .calculator{
    position: absolute;
    left: 19%;
    top: 168%;
}

.practice-areas .fields .des-7{
    position: absolute;
    left: -11.5%;
    top: 200%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 14pt;
    text-transform: capitalize;
    color: #3b424d;
}

.practice-areas .field-4 .des-8{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    top: 215%;
    left: -57%;
    right: -3%;
    font-size: 13px;
    margin: 0 103px 0 111px;
    text-align: center;  
    color: #747981;
} 

.practice-areas .field-5{
    position: absolute;
    margin-left: 5%;
    width: 365px;
    height: 220px;
    top: 125%;
    left: 65.5%;
}

.practice-areas .number-6{
    position: absolute;
    top: 133%;
    left: 20%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20pt;
    color: #e9e9e9;
    text-align: center;
}

.practice-areas .fields .fissure-5{
    position: absolute;
    left: 24.2%;
    top: 150%;
}

.practice-areas .fields .light-bulb{
    position: absolute;
    left: 18%;
    top: 168%;
}

.practice-areas .fields .des-9{
    position: absolute;
    left: -4.4%;
    top: 200%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 14pt;
    text-transform: capitalize;
    color: #3b424d;
}

.practice-areas .field-5 .des-10{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    top: 215%;
    left: -57%;
    right: -3%;
    font-size: 13px;
    margin: 0 103px 0 111px;
    text-align: center;  
    color: #747981;
} 

.practice-areas .img-attorney img{
    position: absolute;
    width: 100%;
    height: auto;
}
