.represent {
    position: relative;
}

.represent img{
    width: 100%;
    height: auto;
}

.represent .slogan {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-family: Arial,sans-serif;
    color: #fff;
}

.slogan-1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.1vw;
    /* color: #fff; */
}

.slogan-2 {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-size: 14px;
    /* color: #ffffff; */
}

.slogan-btn{
    margin-top: 25px;
}

.slogan-btn button{
    padding: 10px 20px;
    width: 200px;
    text-transform: uppercase;
    font-size: 14pt;
    margin: 0 5px 0 5px;
    color: #fff;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
}

.slogan-btn button:hover{
    border: 1px solid #c8ac48;
    background: #c8ac48;
}

.about-us{
    transform: translateY(-50px);
    padding: 20px 30px;
    background-color: white;
}
