.represent {
    position: relative;
    top: 23px;
}

.represent::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #23201e;
    opacity: 0.3;
}

.represent img{
    width: 100%;
    height: auto;
}

.represent .slogan {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-family: Arial,sans-serif;
    color: #fff;
}

.slogan-1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.1vw;
}

.slogan-2 {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-size: 14px;
}

.slogan-btn{
    margin-top: 35px;
}

.slogan-btn button{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    width: 200px;
    text-transform: uppercase;
    font-size: 14pt;
    margin: 0 5px 0 5px;
    color: #fff;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
}

.slogan-btn button:hover{
    border: 1px solid #c8ac48;
    background: #c8ac48;
}

