* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Serif', serif;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.info-contact-box {
    border: 0.75px solid #ededed;
    border-bottom-style: outset;
    height: 54px;
    line-height: 2;
}

.mail-icon {
    top: 12.6px;
    position: relative;
    margin-left: 250px;
}

.mail-address {
    top: 11px;
    position: relative;                     
    margin-left: 10px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #a7a7a7;
}

.phone-icon {
    top: 12.6px;
    position: relative;
    margin-left: 20px;
    size: 7px;
}

.phone-number {
    top: 11px;
    position: relative;
    margin-left: 6.7px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #a7a7a7;
}

.social-icon {
    top: 11px;
    position: relative;
    margin-left: 327px;
}

.content {
    top: 10px;
    position: relative;
    background-color: #304771;
    color: #ededed;
    padding: 19px 14px 20px 14px;
    width: 100px;
    height: 15px;
    margin-left: 24px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    transform: 4px 4px;
}